<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>series</key>
	<string>My Series</string>
	<key>issue</key>
	<string>3</string>
	<key>title</key>
	<string>Sequel to My Book</string>
	<key>bookNumber</key>
	<integer>2</integer>
</dict>
</plist>
