<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>series</key>
	<string>My Series</string>
	<key>issue</key>
	<string>2</string>
	<key>title</key>
	<string>My Great Book</string>
	<key>bookNumber</key>
	<integer>1</integer>
</dict>
</plist>
